<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/todo">
    	<button  class=' form btn btn-primary' type="submit"> Get List Of Task </button>
    </form>
    <form class='form' action='/' method='post'>
    	<button class=' form-input btn btn-success' type="submit"> Insert New Task </button>
    </form>
  </body>
</html>
