<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <form class='form' action='/todo' method='post'>
    	<input  class='from form-input' name = 'data' placeholder='insert task..'  />
    	<button class=' form-input btn btn-success' type="submit"> Insert New Task </button>
    </form>
  </body>
</html>
